@font-face {
  font-family: bebas-neue;
  src: url(".//fonts/bebas-neue/BebasNeue.otf");
}

body {
  background-color: black;
  color: white;
  font-family: Arial, "Franklin Gothic Medium", "Arial Narrow", sans-serif;
}

h1 {
  font-family: bebas-neue;
  padding-bottom: 20px;
  font-size: 50px;
  color: red;
}
h2 {
  padding-bottom: 20px;
  padding-top: 40px;
}

.container {
  width: 1200px;
  /* background-color: red; */
  margin: 0 auto;
  margin-top: 30px;
}

.img-car {
  display: flex;
  flex-wrap: nowrap;
  overflow: auto;
}

.img-car img {
  margin-bottom: 35px;
}
